<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">Random Elements</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/single-data">Obtenir un élément</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/list-data">Obtenir une liste d'éléments</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>