.state-cancelled{
    background: var(--app-error);
}
.state-option{
    background: var(--app-warning);
}
.state-confirmed{
    background: var(--app-success);
}

app-icon-edit {
    padding-left: 10px;
    padding-right: 10px;
}