<table class="table">
    <!-- thead utile pour le référencement -->
    <thead>
        <!-- table row (ligne) -->
        <tr>
            <!--   table header cells (th) -->
            <th *ngFor="let i of headers" scope="col">{{i}}</th>
        </tr>    
    </thead>
    <tbody>
       <tr *ngFor="let i of collection">
           <!--  table data cells (td)-->
           <td>Action</td>
           <td>{{i.typePresta}}</td>
           <td>{{i.client}}</td>
           <td>{{i.nbJours}}</td>
           <td>{{i.tjmHt}}</td>
           <td>Total HT</td>
           <td>Total TTC</td>
           <td>{{i.state}}</td>
       </tr>
    </tbody>
 </table>